pre {
    tab-size: 2.5em;
    background: #1f1a29;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem 0.2rem;
    border-radius: 0.2rem;
    color: rgb(201, 201, 201);
}
