.customScroll::-webkit-scrollbar {
    width: 1em;
    height: 30%;
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5vh;
}
.customScroll::-webkit-scrollbar-corner {
    background-color: #171923;
}
