.customScroll::-webkit-scrollbar {
    width: 1em;
}

.customScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5vh;
}
.customScroll::-webkit-scrollbar-corner {
    background-color: inherit;
}
